@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-rubik-dirt), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-brand-purple: #8A2BE2; /* A vibrant purple */
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: white;
}